* {
    box-sizing: border-box; /* Tároló: A CSS box-sizingtulajdonság lehetővé teszi, hogy a kitöltést és a szegélyt belefoglaljuk egy elem teljes szélességébe és magasságába. */
}

body {
    background-image: url(kepek/v3.jpg); /* Háttérkép */
}
main{
  background-color: #cfc6b5;
  width: 80%;
  margin: auto; /*berakta középre a képet*/
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #D6EEEE;
  }

  header{
    background-color: #506a85;
    text-align: center; /* szöveg középre igazítása*/
    height: 50px;
  }

  footer{
    background-color: #506a85;
    text-align: center; /* szöveg középre igazítása*/
    height: 30px;
  }

  h1, h2, p {
    padding: 10px;
    color: #456280;
  }

  table {
    color: #456280;
  }

  th {
    color: #f3efe9;
    background-color: #506a85;
  }



























